<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MultiLanguages.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MultiLanguages.Properties.Settings>
            <setting name="user1" serializeAs="String">
                <value>11+12+21</value>
            </setting>
            <setting name="user2" serializeAs="String">
                <value>21+22</value>
            </setting>
        </MultiLanguages.Properties.Settings>
    </userSettings>
</configuration>